@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

body {
  @apply bg-bodyBackGround;
}

input[id="searchOptions"],
select[id="searchOptions"] {
  @apply block;
  @apply border border-gray-300 bg-gray-100;
}

select[id="procedimento"],
select[id="situacao"],
select[id="chave"],
select[id="cor"],
input[id="imagem"],
input[id="email"],
input[id="name"],
input[id="number"],
input[id="password"],
input[id="numero"],
input[id="marca"],
input[id="modelo"],
input[id="placa"],
input[id="chassi"],
input[id="text"] {
  @apply block mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}

input[id="imagem"]:disabled,
input[id="email"]:disabled,
input[id="name"]:disabled,
input[id="number"]:disabled,
input[id="password"]:disabled,
input[id="numero"]:disabled,
input[id="marca"]:disabled,
input[id="modelo"]:disabled,
input[id="placa"]:disabled,
input[id="chassi"]:disabled,
input[id="tel"]:disabled,
input[id="text"]:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}

select[id="searchOptions"],
input[id="searchOptions"] {
  @apply block mb-2 rounded-none;
  @apply border-none p-1;
}
