@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-bodyBackGround;
}

input[id="searchOptions"],
select[id="searchOptions"] {
  @apply block;
  @apply border border-gray-300 bg-gray-100;
}

select[id="procedimento"],
select[id="situacao"],
select[id="chave"],
select[id="capacete"],
select[id="cor"],
select[id="marca"],
select[id="modelo"],
input[id="imagem"],
input[id="email"],
input[id="name"],
input[id="number"],
input[id="password"],
input[id="numero"],
input[id="marca"],
input[id="modelo"],
input[id="placa"],
input[id="chassi"],
input[id="text"] {
  @apply block mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100;
}

select[id="procedimento"]:disabled,
select[id="situacao"]:disabled,
select[id="chave"]:disabled,
select[id="capacete"]:disabled,
select[id="cor"]:disabled,
select[id="marca"]:disabled,
select[id="modelo"]:disabled,
input[id="imagem"]:disabled,
input[id="email"]:disabled,
input[id="name"]:disabled,
input[id="number"]:disabled,
input[id="password"]:disabled,
input[id="numero"]:disabled,
input[id="marca"]:disabled,
input[id="modelo"]:disabled,
input[id="placa"]:disabled,
input[id="chassi"]:disabled,
input[id="tel"]:disabled,
input[id="text"]:disabled {
  @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}

span[id="spanCreatedBy"],
span[id="spanCreatedAt"] {
  @apply w-44 text-[12px] text-templateGray;
}
select[id="searchOptions"],
input[id="searchOptions"] {
  @apply block mb-2 rounded-none;
  @apply border-none p-1;
}

.loader {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}